*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/* body{
    background: linear-gradient(to right, rgb(36, 2, 55),rgb(90, 1, 153));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
} */
img{
    height: 100px;
    aspect-ratio: 1/1;
}
.all{
    background: linear-gradient(to right, rgb(36, 2, 55),rgb(90, 1, 153));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.all2{
    width: 1150px;
    color: white;
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 100%;
    
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: large;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, rgb(36, 2, 55),rgb(90, 1, 153));
    z-index: 1;
    width: 100%;
    padding: 0 7% 0 7%;
    
}
#links::after{
    display: block;
    content: "";
    height: 5px;
    border-radius: 5px;
    width: 100%;
    background-color: #46b5d1;
    transform: scale(0%);
    transition: all 0.3s;
}
#links:hover::after{
    transform: scale(100%);
}
nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    
}
#equal{
    display: none;
    font-size: 30px;
    background-color: transparent;
    color: white;
}
#equal i{
    transition: all 0.8s;
}
#equal:focus i{
    transform: rotateZ(-90deg);
}
#equal:focus ul{
    visibility: visible;
    opacity: 1;
}
#equal ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 5px;
    top: 70px;
    font-size: large;
    height: 200px;
    width: 150px;
    gap: 28px;
    background-color: #46b5d1f2;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 0px 4px white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s;
}
#equal ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}
nav h3{
    letter-spacing: 5px;
}
span{
    color: #46b5d1;
}
.info{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    height: 100vh;

}
#info1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    color: rgb(181, 178, 178);
    font-size: 1.5rem;
}
#info1 #contlink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.353) ;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s;
}
#info1 #contlink:hover{
    background-color:rgba(255, 255, 255, 0.485) ;
    transform: scale(1.05);
}
.info img{
    height: 80%;
    width: 40%;
    object-fit: cover;
    border-radius: 0 25%;
    box-shadow: 10px 10px 10px black;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 100px;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 50px;
}
#about img{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.about #text{
    height: 100%;
    font-size: 27px;
    display: flex;
    align-items: center;
    color: rgb(181, 178, 178);
}
.skills{
    display: flex;
    padding-top: 50px;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 50px;
    position: relative;
}
#skillav{
    display: flex;
    justify-content: center;
    gap: 180px;
    width: 100%;
}
button{
    border-style: none;
    border-radius: 100px;
}
#frontend,#backend{
    display: flex;
    align-items: center;
    gap: 15px;
    background:linear-gradient(to right , rgba(0, 0, 0, 0.5),rgba(59, 58, 58, 0.5));
    height: 60px;
    width: 100%;
    position: relative;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
#frontend:focus{
    transform: scale(1.1);
}
#frontend:hover{
    transform: scale(1.1);
}
#backend:focus{
    transform: scale(1.1);
}
#backend:hover{
    transform: scale(1.1);
}
#frontend i{
    font-size: 17px;
    padding:0 10px 0 10px;
}
#backend i{
    font-size: 17px;
    padding:0 10px 0 10px;
}
#dropdown{
    position: absolute;
    right: 15px;
    font-size:15px ;
}
.sk1,.sk2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
}
#frontd{
    visibility: hidden;
    align-items: center;
    width: 100%;
    position:absolute;
    top: 45px;
    padding: 0 10px 0 10px;
}
#backd{
    display: none;
    align-items: center;
    width: 100%;
    position:absolute;
    top: 45px;
    padding: 0 10px 0 10px;
}
#frontend:focus #frontd{
    visibility:visible ;
    background-color:transparent;
}
#backend:focus #backd{
    display: block;
    
}
#backd{
    display: none;
    padding: 10% 0;
    height: 300px;
    font-size: 17px;
}
#cont{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    height: 300px;
    gap: 50px;
}
.av1{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
    
}
#frontend:focus .av1:first-child{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition-delay:0.2s ;
}
#frontend:focus .av1:nth-child(2){
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition-delay:0.4s ;
}
#frontend:focus .av1:nth-child(3){
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition-delay:0.6s ;
}
.av2{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 100px;
    overflow: hidden;
}
h4{
    font-size: 18px;
}
#html{
    display: flex;
    background-color: #46b5d1;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#css{
    display: flex;
    background-color: #46b5d1;
    width: 65%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#js{
    display: flex;
    background-color: #46b5d1;
    width: 25%;
    justify-content: center;
    align-items: center;
    height: 100%;
}




.contact{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-bottom:20px ;
}
#contact{
    display: flex;
    height: 300px;
    width: 100%;
}
#social{
    width: 45%;
    padding: 0 20px;
    height: 80%;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;   
}
#social #icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#info{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
#subject{
    grid-column: 1/2 span;
}
#message{
    grid-column: 1/2 span;
}
#info input,#m{
    background-color: rgba(255, 255, 255, 0.294);
    border-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: relative  ;
    outline: none;
    transition:all 0.3s;
}
#info input::placeholder{
    color: rgb(181, 178, 178);
    font-size: 14px;
    position: absolute;
    bottom: 10px;
}
#m::placeholder{
    color: rgb(181, 178, 178);
    font-size: 14px;
}
.jj{
    display: flex;
    flex-direction: column;
    line-height: 22px;
}
#info label{
    text-transform: uppercase;
}
#kk{
    font-weight: bold;
    font-size: 12px;
}
#info h1{
    font-weight: 500;
}
#info input:focus{
    border-bottom: 1px solid #46b5d1;
    outline: none;
}
#m:focus{
    border-bottom: 1px solid #46b5d1;
}
#info button{
    height: 40px;
    width: 150px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 5px;
    border-style: none;
    color: white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: all .2s;
}
#info button:hover{
    background-color: #3ba2bb;
}

@media (max-width:1300px) {
    .all2{
        width: 1000px; ;
    }
    
}
@media (max-width:1170px) {
    .all2{
        width: 900px; 
    }

}
@media (max-width:1080px) {
    .all2{
        width: 800px; 
    }
    
}
@media (max-width:940px) {
    .all2{
        width: 700px; ;
    }
    
}
@media (max-width:830px) {
    .all2{
        width: 100%;
        padding: 0 10%;
        
    }
    .info{
    flex-direction: column;
    align-items: center;
    }
    .info img{
        width: 260px;
    }
    #info1{
        justify-content: center;
        align-items: center;
        padding: 0px !important;
        
    }
    nav>ul #links{
        display: none;
    }
    #equal{
        display: block !important;
        
    }
    #about img{
    display: none;
    }
    #about #text{
        text-align: center;
    }
    #skillav {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    }
    .skills{
        height: 100vh;
        margin-bottom: 40px;
    }
    #social{
        width: 100%;
        padding: 0 20px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .contact{
        height: 65vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        padding-bottom:20px ;
        padding-top:40px ;
    }
    #contact{
        display: flex;
        justify-content: space-between;
        flex-direction:column-reverse;
        height: 300px;
        width: 100%;
    }
    #info{
        width: 100%;
    }
    #social{
        width: 100%;
        font-size: 16px;
        height: 20px;
    }
}
@media (max-height:650px) {
    #skillav{
        gap: 50%;
    }
    .contact{
        height: 100vh;
        padding-top: 50%;
    }
    .info{
        height: 110vh;
        gap: 20px;
    }
}